.main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.title {
    color: #e23320;
    font-weight: 400;
    font-size: 2.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 0.5rem;
    width: 40rem;
    height: 70rem;
    font-size: 1.5rem;
}

.form input,
.form select
{
    border-radius: 100vmax;
    height: 3rem;
    background-color: #fff;
    border: solid 0.1rem #ffcdc8;
    padding: 0.1rem 1rem;
}

.create {
    height: 4rem;
    width: 9rem;
    margin: 1rem auto;
    background-color: #fff;
    border: 0.1rem solid #bf2616;
    font-size: 1.7rem;
    color: #bf2616;
    box-shadow: none;
}

.create:hover {
    background-color: #fef3f2;
}

.error {
    color: #e23320;
}

.selectedTeams {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.selectedTeam {
    width: auto;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: #ffcdc8;
    font-weight: 300;
    padding: .5rem;
    border-radius: 1rem;
    position: relative;
}

.selectedTeam span {
    cursor: pointer;
    font-weight: 500;
    color: #bf2616;
}